services:
  db:
    container_name: postgres_db
    image: postgres:16.4
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: my_pass
      PGDATA: /data/postgres
    volumes:
      - ./postgres-data:/data/postgres
    ports:
      - "5432:5432"
  redis:
    container_name: redis
    image: redis:7.4-alpine
    restart: always
    volumes:
      - ./redis-data:/data
    ports:
      - "6379:6379"
